.chat-scroll-x::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}
.chat-search svg {
    fill: gray;
}
.chat-plus svg {
    fill: white;
}
.box-user span {
    display: none;
}
.box-user.active span {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #51ca31;
    border: 1px solid white;
    position: absolute;
    bottom: 0px;
    right: 0px;
}