.buttonFood{
    background-color: #fff;
    width: 360px;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 16px;
    border-radius: 16px;
    margin-bottom: 8px;
    box-shadow: 0px 0px 6px var(--color-shadow);
    overflow: hidden;
    color: black;
    transition: 0.5s;
}

.buttonFood:hover {
    background-color: var(--color-blue);
    cursor: pointer;
    color: var(--color-white);
    transform: scale(0.96);
}

.containerImg {
    width: 60px;
}

.containerInfo {
    margin-left: 20px;
    width: 200px;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.inner-box {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.foodImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.foodName{
    color: black;
    font-weight: bold;
}

.kcal{
    color: var(--color-green);
}

.circlePoint{
    background-color: black;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    margin: 0 8px;
}

.type{

}