.searchContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 130px 10px 20px;
    height: 100vh;
    overflow: auto;
}

.searchContainer__box1 {
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
}

.searchContainer__box1 i {
    transition: 0.8s;
}

.searchContainer__box1 i:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.searchProduct {
    display: flex;
    background-color: #e0f5ff;
    border-radius: 8px;
    padding: 8px 16px;
    color: gray;
}

.searchProduct .searchProduct__input {
    width: 200px;
    border: none;
    outline: none;
    background-color: var(--color-gray);
    margin-left: 20px;
    font-size: 18px;
}

.searchContainer__box2 {
    width: 380px; 
    height: 55px;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    padding: 10px 25px 0px;
    background: #fff;
    border-bottom: 1px solid #eee;
}
.searchContainer__box2 span {
    cursor: pointer;
    font-size: 16px;
    line-height: 40px;
    padding: 0 10px 10px;
    font-weight: 600;
    color: #6f6f6f;
}
.searchContainer__box2 span:hover {
    /* color: #1890ff; */
}
.searchContainer__box2 span.active {
    color: #1890ff;
    border-bottom: 2px solid #1890ff;
}


.searchContainer__box2__button {
    height: 100%;
    width: 110px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    font-weight: 600;
}

.searchContainer__box2__button.active {
    color: var(--color-green);
    background-color: #fff;
}

.searchContainer__box3 {
    width: 100%;
    padding: 0 10px;
    height: 100%;
}

.active {
    background-color: var(--color-white);
}

.borderLeft {
    width: 2px;
    height: 15px;
    background-color: black;
    margin: auto;
}

.searchContainer__box3 {
    width: 380px;
    /* height: 100%; */
    min-height: 200px;
    padding: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 4px var(--color-shadow);
}

.iconF {
    font-size: 20px;
}

.btnAddMyFood {
    background-color: var(--color-green);
    color: #fff;
    width: 120px;
    height: 40px;
    border-radius: 9999px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    transition: 0.5s;
}

.btnAddMyFood:hover {
    transform: scale(1.1);
}

button {
    border: none;
    outline: none;
}